*{
    margin: 0;
    padding: 0;
}
.banner{
    background: url(images/banner/banner2.png);
    height: 809px;
    font-family:'Work Sans';
    display: flex;
    text-align: right;
    align-items: center;
}
.banner-details{
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
}
.banner h1{
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
}
.banner p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
}
.banner button{
    background-color: #F15B22;
    color: #ffffff;
    border: 0;
    margin-top: 32px;
    font-family: 'work sans';
    height: 64px;
    width: 160px;
    border-radius: 5px 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.failures{
    margin-top: 130px;
    display: flex;
    margin-left: 206px;
}
.details{
    margin-left: 50px;
    margin-top: 250px;
}
.details h1{
    font-family: 'work sans';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
}
.details p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
}
.check{
    display: flex;
    margin-top: -5px;
}
.check img{
    margin-top: 15px;
    margin-right: 15px;
    height: 20px;
    width: 20px;
}
/* My plans */
.plans{
    max-width: 1200px;
    margin: 130px auto;
}
.plans-header{
    font-family:'Work Sans';
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 76px;
}
.plan-list{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.plan-list h1{
    font-family: 'work sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    margin-top: 20px;
}
.plan-list p{
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
    color: #727272;
}
.web{
    margin-left: 70px;
}
.java{
    margin-left: 18px;
}
.smoke{
    margin-left: 45px;
}
.ecom{
    margin-left: 20px;
}
/* Rectangle */
.rectangle{
    height: 300px;
    width: 1200px;
    margin: 130px auto;  
    border-radius: 8px;
    background: url(images/watch.png);
    background-repeat: no-repeat;
}
.watch{
    background: url(images/gradient2.png);
    background-repeat: no-repeat;
    height: 300px;
}
.watch h1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: white;
    margin-left: 65px;
    padding-top: 60px;
}
.rectangle button{
    background-color: #ffffff;
    color: #F15B22;
    border: 0;
    margin-top: 25px;
    margin-left: 65px;
    font-family: 'work sans';
    height: 64px;
    width: 160px;
    border-radius: 5px 5px;
}
